@import "tailwindcss";

:root {
  font-family: Inter, system-ui, sans-serif;

  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0c1117;
  color: white;
}
